#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.page-container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px;
}



/*.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */



.read-the-docs {
  color: #888;
}








* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}


/*=======================
   HEADER
===================== */

header {
  max-width: 1240px;
  padding-bottom: 30px;
  padding-top: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

header nav a {
  margin-left: 40px;
  font-size: 18px;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}
.logo {
  font-size: 10px;
  right: 25px;
}


/* =====================
   BANNER
===================== */
 
.banner {
  max-width: 1240px;
  width: 100%;
  height: 223px;
  margin: 0 auto 40px;
  position: relative;
  border-radius: 25px;
  background-color: #000000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  mix-blend-mode: Darken;
  box-sizing: border-box;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  background: #000000;
}

.banner h1 {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 700;
}



/* =====================
   CARDS LIST
===================== */

.cards {
  max-width: 1240px;
  margin: 0 auto 30px;
  background-color: #f6f6f6;
  padding: 50px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  box-sizing: border-box;
}


/* =====================
   CARD
===================== */

.card {
  height: 340px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;

}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
  

/*.card h2 {
  max-width: 300px;
  height: 52px;
  opacity: 1;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 143%;
  letter-spacing: 0%;
  color: #FFFFFF;
  margin-top: -70px;
  overflow-wrap: break-word;
} */




.card h2 {
  position: absolute;
  max-width: 490px;
  bottom: 20px;
  text-align: left;
  font-style: Bold;
  left: 20px;
  right: 60px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  z-index: 1;
  overflow-wrap: break-word;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}


/* =====================
   FOOTER
===================== */

footer {
  width: 100vw;              
  margin: 0 auto;        
  background-color: #000000;
  color: white;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}


.footer_text {
  font-size: 24px;
}
.footer_logo {
  font-size: 18px;
}

/* =====================
   RESPONSIVE
===================== */

@media (max-width: 1024px) {
  #root {
    max-width: 1024px;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    padding: 40px;
    gap: 40px;
  }

  .banner h1 {
    font-size: 36px;
  }
}




@media (max-width: 768px) {
  #root {
    max-width: 768px;
  }

  header {
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
  }

  header nav a {
    margin-left: 20px;
    padding-left: 10px;
    font-size: 12px;
    text-transform: uppercase;
  }
  .logo {
    width: 80px;
  }

  .banner {
    height: 111px;
    margin-top: 0px;
    border-radius: 10px;
    width: auto;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 20px;
  }

  .banner h1 {
    font-size: 24px;
    text-align: left;
    padding: 0 20px;
    width: 225px;
    height: 48px;
    top: 31px;
    left: 16px;
    opacity: 1;
    overflow-wrap: break-word;
    max-width: 210px;
  }

  .cards {
    grid-template-columns: 1fr;
    background-color: transparent;
    padding: 0;
    margin-bottom: 0;
    gap: 20px;
  }

  .card {
    height: 255px;
    margin-right: 0;
    padding: 0;
  }
  .card h2 {
    font-size: 18px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .footer {
    width: auto;
  }

  .footer p {
    font-size: 18px;
  }
}




/* =========================
   PAGE 404 
========================= */

.error-page {
  min-height: calc(100vh - 209px - 100px); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  padding: 40px 20px;
}

.error-page h1 {
  font-size: 180px;
  font-weight: 700;
  color: #FF6060;
  margin: 0;
}

.error-text {
  font-size: 36px;
  color: #FF6060;
}

.error-link {
  margin-top: 40px;
  font-size: 18px;
  text-decoration: underline;
  color: #000000;
}



@media (max-width: 768px) {

  .error-page h1 {
    font-size: 96px;
  }

  .error-text {
    font-size: 18px;
    overflow-wrap: break-word;
    max-width: 200px;
  }

  .error-link {
    font-size: 14px;
  }
}
