:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px;
}


a {
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



/* ==========================
   PAGE About
========================== */


.collapse {
  display: flex;
  flex-direction: column;
  max-width: 1023px;
  margin: 0px auto;
  padding-bottom: 20px;
  width: 100%;
}

.collapse-header {
  background-color: #ff6060;
  color: #FFFFFF;
  padding: 12px 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.collapse-arrow {
  width: 16px;
  transition: transform 0.3s ease;
}

.collapse-arrow.open {
  transform: rotate(180deg);
}

.collapse-content {
  background-color: #f6f6f6;
  border-radius: 5px;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.collapse-content.open {
  max-height: 200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 5px;
  text-align: left;
}




/* =====================
   RESPONSIVE
===================== */


@media (max-width: 1024px) {

  .about {
    padding: 0 20px;
  }

  .about-banner {
    height: 180px;
    border-radius: 20px;
  }

  .collapse-list {
    padding: 0;
    gap: 18px;
  }

}




@media (max-width: 768px) {

  
  .collapse {
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 10px;

  }

  .collapse-header {
    margin: 0;
  }

  .about {
    padding: 0;
  }

  .about-banner {
    height: 111px;
    border-radius: 10px;
    margin-bottom: 25px;
  }

  .collapse-list {
    padding: 0;
    gap: 16px;
  }

}








