.slideshow {
  position: relative;
  width: 100%;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;
}

.slideshow-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slideshow-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  cursor: pointer;
}

.slideshow-arrow.left {
  left: 20px;
}

.slideshow-arrow.right {
  right: 20px;
}

.slideshow-counter {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  font-size: 18px;
}
